<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>Fast Share uses the camera to scan a computer QR code.</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>com.alexnguyen03.fastshare</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fastshare</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
